* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #252B42;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav a {
  color: white;
  text-decoration: none;
}
header div {
  display: flex;
  align-items: center;
  gap: 20px;
}
header div button:first-child {
  border: none;
  background-color: transparent;
  color: white;
}
header div button:last-child {
  background-color: #23A6F0;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
}
header .icons {
  display: none;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.section1 aside:first-child {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section1 aside:first-child h1 {
  font-size: 70px;
}
.section1 aside:first-child p {
  font-size: 20px;
}
.section1 aside:first-child div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section1 aside:first-child div button {
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  color: white;
}
.section1 aside:first-child div button:first-child {
  background-color: #23A6F0;
}
.section1 aside:first-child div button:last-child {
  background-color: transparent;
  border: 1px solid white;
}
.section1 aside:first-child img {
  top: 100px;
  left: 0px;
  position: absolute;
}
.section1 aside:last-child {
  position: relative;
}
.section1 aside:last-child img:last-child {
  left: 0;
  z-index: -1;
  top: 30px;
  position: absolute;
}

.menu_mobile {
  display: none;
}

.section2 {
  height: 800px;
}
.section2 h1 {
  color: white;
  width: 400px;
  text-align: center;
  margin: auto;
}
.section2 .h5 {
  color: rgb(207, 207, 207);
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.section2 .p2 {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 300px;
  margin-top: 100px;
}
.section2 .p1 {
  width: 330px;
  height: 100px;
  align-items: center;
  color: grey;
  display: flex;
  border: solid 1px;
}

.section3 {
  height: 900px;
  background-color: aquamarine;
}
.section3 .p4 {
  width: 450px;
  color: grey;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.section3 .p5 {
  background-color: white;
  box-shadow: 0px 0px 5px;
  height: 700px;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  color: grey;
}

.section4 {
  height: 500px;
}
.section4 .p8 {
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}
.section4 .p10 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  margin: auto;
  background-color: aqua;
}

@media (max-width: 500px) {
  header nav, header div {
    display: none;
  }
  .icons {
    display: flex !important;
  }
  .section1 {
    flex-direction: column;
  }
  .section1 aside:last-child img {
    width: 100%;
  }
  .menu_mobile {
    display: block;
  }
  .menu_mobile nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .menu_mobile a {
    color: white;
    font-size: 30px;
    text-decoration: none;
  }
  .section2 {
    height: 1000px;
  }
  .section2 .p2 {
    margin-left: 50px;
    flex-direction: column;
  }
  .section3 {
    width: 100%;
  }
  .p5 {
    width: 100%;
  }
  .p7 {
    margin-left: 0;
    margin: 0;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */